@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}

/**************************************
****************NAVBAR*****************/


header {
    background-color: #0D0D0D;
}

.logo {
    width: 10%;
}

.navLeft {
    display: flex;
    align-items:center;
    color: white;
    justify-content: space-between;
    margin-right: 100px;
}

.navLeft h1 {
    margin-left: 30px;
}

nav, ul, li, a {
    text-decoration: none;
    list-style: none;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

nav a {
    margin-left: 15px;
}

.navFlex {
    display: flex;
    align-items: center;
}

body{
    background-image: url(../img/star-wars-jedi-trailer-section-bg-xl.png);
}

.jedi{
    width: 100%;
}

article{
    width: 80%;
    margin: auto;
    background-image: url(../img/swjs-hero-md-buy-launch-dlx-7x2-xl.jpg.adapt.crop7x2.1920w.jpg);
    background-size: cover;
    height: 400px;
    background-repeat: no-repeat;
    margin-top: 50px;
    border-radius: 80px;
}